// Typography

$font-primary		: 		"proxima-nova",sans-serif;
$font-secondary		: 		"fatfrank",sans-serif;
$font-bold			: 		700;

// Colors

$color-primary		: 		#1d4fc3 ; // Blue
$color-secondary	: 		#1e2943 ; // Dark blue
$color-light		: 		#f0f6fb ; // Light blue
$color-white		: 		#ffffff ; // White

