<perch:blocks>
	<perch:block type="copyImageRight" label="Copy with image right">
	<section class="two-thirds-left">
		<div class="text">
			<h3><perch:content id="twoThirdstext" type="textarea" size="s" textile="true" editor="markitup" label="Copy" /></h3>
		</div>
		<div class="image" style="background: url(<perch:content id="twoThirdsImage" type="image" label="Background Image" />); background-size: cover; background-position: center center">
		</div>
	</section>
	</perch:block>

	<perch:block type="copyImageLeft" label="Copy with image left">
	<section class="two-thirds-right">
		<div class="image" style="background: url(<perch:content id="twoThirdsImageRight" type="image" label="Background Image" />); background-size: cover; background-position: center center">
		</div>
		<div class="text">
			<h3><perch:content id="twoThirdstextRight" type="textarea" size="s" textile="true" editor="markitup" label="Copy" /></h3>
		</div>
	</section>
	</perch:block>
</perch:blocks>