<section class="explainer">
	<div class="explainer-wrap">
		<div class="explainer-text">
		  <h3><perch:content id="experienceText" type="textarea" size="l" label="Text" textile="true" editor="markitup" /></h3>
		</div>
		<div class="facebook">
				<iframe src="<perch:content id="fbFeed" type="textarea" size="s" label="Facebook link" />" scrolling="yes" frameborder="0" style="border:none; overflow:hidden; width:600px; height:430px; background: white;" allowtransparency="true"></iframe>
		</div>
	</div>
</section>