  <div class="contact">
    <h5>Contact</h5>
    <p><a href="tel:<perch:content id="telephone" type="hidden" />"><perch:content id="telephone" type="text" label="Phone number" /></a></p>
    <p><a href="mailto:<perch:content id="email" type="hidden" />"><perch:content id="email" type="text" label="Email address" /></a></p>
  </div>
  <div class="motto"> 
    <h4><perch:content id="motto" type="textarea" size="xs" label="Motto" /></h4>
  </div>
  <div class="social">
    <h5>Social</h5>
    <p><a href="<perch:content id="facebookLink" type="textarea" size="xs" label="Facebook page URL" />" target="_blank" class="icon-fb">Facebook</a></p>
  </div>
  <div class="copyright">
    <p>© 2016 McMillan's Engineering Ltd</p>
  </div>