.explainer {
	@include clearfix;
	background: $color-light;
	width: 100%;
	height: 100%;
	position: relative;

	.explainer-wrap {
		@include clearfix;
		max-width: em(1080);
		margin: 0 auto;

		.explainer-text {
			float: left;
			width: 40%;
			padding-left: 0; 
			padding-right: 7%;
			padding-top: 50px;
			padding-bottom: 50px;

			span {
				font-weight: $font-bold;
			}

			@include media($teneighty) {
				@include clearfix;
				height: 100%;
				width: 100%;
				text-align: center;
				padding-left: 5%;
				padding-top: 10%;
				padding-bottom: 10%;
			}
		}

		.facebook {
			position: absolute;
			width: 60%;
			right: 0;
			top: 0;
			bottom: 0;
			background: $color-secondary;
			text-align: center;
			padding: 80px 0;
			height: 100%;

			@include media($teneighty) {
				position: relative;
				width: 100%;
				float: left;
				padding: 40px 0;
			}

			@include media($mobile) {
				display: none;
			}

			iframe {
				width: 500px !important;
				height: 650px !important;
			}
		}
	}
}