.footer {
	@include clearfix;
	padding-top: 75px;
	padding-bottom: 40px;
	color: $color-white;
	background: $color-secondary;

	@include media($tablet) {
		text-align: center;
	}

	.contact,.social {
		
		h5 {
			text-transform: uppercase;
		}

		a {
			text-decoration: none;
			color: $color-white;
		}
	}

	.contact {
		@include span-columns(3);

		@include media($tablet) {
			@include span-columns(12);
			@include omega;
			margin-bottom: 20px;
		}
	}

	.motto {
		@include span-columns(6);
		text-align: center;
		padding: 0 3%;

		@include media($tablet) {
			@include span-columns(12);
			@include omega;
			padding: 0 3%;
			margin-bottom: 20px;
		}

		h4 {
			font-family: $font-secondary;
			text-transform: uppercase;
			letter-spacing: 1.5px;
			margin-top: 10px;
		}
	}

	.social {
		@include span-columns(2);
		@include shift(1);
		@include omega;

		@include media($tablet) {
			@include span-columns(12);
			@include shift(0);
			@include omega;
		}

		p {
			@include media($tablet) {
				width: 100px;
				margin: 0 auto;
			}
		}
		
		.icon-fb {

			&:before {
				content: '';
				display: block;
				height: 15px;
				width: 15px;
				margin-right: 10px;
				margin-top: 4px;
				background-image: url(../img/icon-fb.png);
				background-size: 100%;
				float: left;
			}
		}
	}

	.copyright {
		@include span-columns(12);
		text-align: center;
		
		p {
			text-transform: uppercase;	
			font-size: em(14);
		}
	}
}
