.footer {
	@include clearfix;
	padding: 75px 0;
	color: $color-white;
	background: $color-secondary;

	.contact,.social {
		
		h5 {
			text-transform: uppercase;
		}

		a {
			text-decoration: none;
			color: $color-white;
		}
	}

	.contact {
		@include span-columns(3);
	}

	.motto {
		@include span-columns(6);
		text-align: center;

		h3 {
			margin-top: 10px;
		}
	}

	.social {
		@include span-columns(2);
		@include shift(1);
		@include omega;
		
		.icon-fb {

			&:before {
				content: '';
				display: block;
				height: 15px;
				width: 15px;
				margin-right: 10px;
				margin-top: 4px;
				background-image: url(../img/icon-fb.png);
				background-size: 100%;
				float: left;
			}
		}
	}

	.copyright {
		@include span-columns(12);
		margin-top: 2%;
		text-align: center;
		
		p {
			text-transform: uppercase;	
			font-size: em(14);
		}
	}
}
