.nav-mobile {
	background: $color-light;
	padding: 4%;

	.logo {
		
		img {
			margin: 0 auto;
		}
	}

	ul {
		list-style: none;
		padding: 0;

		li {
			font-weight: $font-bold;
			padding: 15px 20px;
			margin: 0;
			border-bottom: 2px solid $color-primary;
			
			a {
				color: $color-primary;
				position: relative;

				.sub-arrow {
					position: absolute;
					left: -20px;
				}
			}

			ul {

				li {
					border-bottom: none;
					// padding-left: 0;
				}
			}
		}
	}
}