.partners {
	background: $color-white;
	padding: 75px 0;
	text-align: center;

	@include media($tablet) {
		padding: 10% 0;
	}

	.slick-slide  {
		vertical-align: middle;
		height: 60px;
		margin: 0 20px;
	}
}