.quote {
	@include clearfix;
	padding: 40px 0;
	text-align: center;
	background: $color-white;

	@include media($tablet) {
		padding: 5% 0;
	}

	h3 {
		@include span-columns(12);

		span {
			font-weight: $font-bold;
		}
	}
}